<p>portfoliolist works!</p>
<div class='table-responsive'>
    <table class='table'
           *ngIf="portfolios$ | async as portfolios">
        <thead>
           <tr>
            <th>Portfolio Code</th>
            <th>Portfolio Name</th>
            <th>Creation Date</th>
            <th>Starting Value</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let portfolio of portfolios'>
            <td>{{ portfolio.portfolioId }}</td>
            <td>
              <a [routerLink]="['/portfolio', portfolio.portfolioId]">
                {{ portfolio.portfolioName }}
              </a>
            </td>
            
            <td>{{ portfolio.createDate }}</td>
            <td>{{ portfolio.startValue | currency:'USD':'symbol':'1.2-2' }}</td>
            <td>{{ portfolio.description }}</td>
          </tr>
        </tbody>
    </table>
</div>
